@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --super-tight: ;
}

@layer base {
  html {
    @apply text-neutral-700 tracking-tighter text-pretty bg-white;
  }

  body {
    @apply m-0 p-0;
  }
}

/* globals.css */

/* Define la animación de rotación en el Eje X */
@keyframes flip-x {
  0% {
    transform: perspective(800px) rotateX(0deg);
  }
  50% {
    transform: perspective(800px) rotateX(180deg);
  }
  100% {
    transform: perspective(800px) rotateX(360deg);
  }
}

/* Aplica la propiedad 3D a la capa base */
.preserve-3d {
  transform-style: preserve-3d;
}

/* Clase para aplicar la animación en hover */
.animate-flip-x:hover {
  /* La velocidad y el timing pueden ajustarse aquí */
  animation: flip-x 0.6s ease-in-out forwards;
}
