@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --super-tight: ;
}

@layer base {
  html {
    @apply text-neutral-700 tracking-tighter bg-white dark:bg-gray-900 dark:text-gray-200;
  }

  body {
    @apply m-0 p-0;
  }
}
